body{
    font-family: helvetica;
}
/*header */
header{
    background: #444;
    height: 100px;
    margin-bottom: 30px;
}
nav{
    width: 960px;
    margin:0px auto;
}
nav img{
    float: left;
    margin-top: 15px;
    margin-right: 35px;
}
nav li{
    display: inline-block;
    margin-top: 40px;
    margin-right: 80px;
}
nav a{
    text-decoration: none;
    color:#aaa;
}
/* main */
main{
    width: 960px;
    margin: 0px auto;
}
/* main: sub-banner */
main li{
    float: left;
    margin: 30px 30px 30px 0px;
}
main li:last-child{
    margin-right: 0px;
}
/* main sections */
section img{
    float: left;
    margin-right: 30px;
}
section div{
    margin-bottom: 30px;
}
section h2{
    font-size: 20px;
    margin-bottom: 10px;
}
section p{
    height: 319px;
    overflow: auto;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 10px;
}
section button{
    border: none;
    color: white;
    background: black;
    font-size: 17px;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
    transition: 350ms;
    height: 40px;
    width: 180px;
}
section button:hover{
    background: salmon;
}
/* footer */
footer{
    background: #444;
    height: 100px;
}